html,body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
	
	text-align: center;
}

/* Set the fixed height of the footer here */
#push,#footer {
	height: 60px;
}

#footer {
	background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media ( max-width : 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.container {
	width: auto;
	max-width: 680px;
}

.container .credit {
	margin: 20px 0;
	text-align: center;
}

h1 {
	font-family: "Open Sans",serif;
	font-weight: 400;
	font-size: 40px;
}

.question {
	border: 1px solid #aaa;
	border-top: 1px solid #888;
	border-left: 1px solid #888;
	-o-transition: all .15s;
	-moz-transition: all .15s ease-out;
	-webkit-transition: all .15s ease-out;
	transition: all .15s ease-out;
}

.question:hover {
	z-index: 1000;
	border-color: #bbb;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	-o-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	-moz-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3);
	box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3);
}